{% extends "default.html" %}

{% load socialaccount %}
{% load i18n %}

{% block content %}
<h2>Sign In</h2>
<center>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        </br>
        <input type="submit" value="Enter">
    </form>
</center>

<div class="mt-4 text-center">
    <a href="{% url 'signup' %}">Create user</a>
</div>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>


</div>
{% endif %}

<a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>

{% endblock content %}